div.downloadFrame {
    // @include blurBgFrame();
    z-index: 100;
    // max-width: fit-content;
    bottom: 0.25em;
    left: 0.25em;
    margin: 0px auto;
    // border-top: 1px solid #fff;

    #latlong {
        font-size: 14px;
        margin: 10px 0px;
    }
    
    .download-handler {
        width: 20px;
        height: 10px;
    }

    .download-btn {
        width:100%;
    }

    #btnGraph {
        margin-top: 0.5em;
    }
}