div.GraphContainer {
    @include bgFrame(12px);
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -30%);
    padding: 0.8em 1.5em;
    background-color: rgba(255, 255, 255, 1);
    background: white;
    color: #333;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
    z-index: 2000;
    width: fit-content;
    position: relative;

    a.popup-close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 300;
    }

    a.popup-close-button i.bi {
        width: 40px;
        height: 40px;
        font-size: 2rem;
        color: #2c6d9a;
        padding: 5px;
        cursor: pointer;
    }

    a.popup-close-button i.bi:hover {
        color: #aeddff;
    }

    div.popup-content-wrapper {
        padding: 1px;
        text-align: left;
        border-radius: 12px;
    }

    .dygraph-label {
        color: #064d87;
        font-size: 1.1em;
        font-weight: 500;
        padding: 0.2rem 0rem;
    }

    .dygraph-title {
        font-size: 20px;
        color: gray 2px 2px 2px;
    }

    .dygraph-ylabel {
        font-size: 18px;
        color: gray -2px 2px 2px;
    }

    .dygraph-ylabel, .dygraph-axis-label-y {
        // width: 100px !important; /* Adjust this value as needed */
        overflow: visible;
        padding-right: 10px;
      }

    .dygraph-legend {
        text-align: center;
        width: 1024px;
        background-color: transparent !important;
        left: 0px !important;
    }

    .chart {
        border: 1px dashed black;
        margin: 5px 5px 5px 50px;
        padding: 2px;
    }

    .labels-content {
        min-height: 40px;
        padding-top: 10px;
    }

    #labels {
        text-align: center;
    }
}