// COLORS

$title_color: #064d87;
$title_bgcolor: #dcdcdc;
$border-color: #b3b4b6;
$color_1: #f1f7f9;
$color_2: #FC6262;
$color_3: #000;
$color_4: #fff;
$color_5: #1E95FA;
$color_6: #bac3e4;
$color_7: #FF6200;
$color_8: #2c6d9a;
$color_9: #1D2D44;
$color_10: #f4f4f5;


//  $title_color: #243010;
// $title_bgcolor: #CAD593;

// $color_1: #EAEFD3;
// $color_2: #FC6262;
// $color_3: #000;
// $color_4: #fff;
// $color_5: #1E95FA;
// $color_6: #7386D5;
// $color_7: #FF6200;
// $color_8: #307473;
// $color_9: #12664f;
// $color_10: #B9B9B9; 


// MEDIA QUERIES

/* max-width 576px, mobile-only styles */
@mixin sm-mobile {
    @media only screen and (max-width: 576px) {
        @content;
    }
}

/* min-width 576px, medium screens */
@mixin mobile {
    @media only screen and (min-width:576px) {
        @content;
    }

}

/* min-width 768px, medium screens */
@mixin tablet {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

/* min-width 992px, large screens */
@mixin laptop {
    @media only screen and (min-width: 992px) {
        @content;
    }
}

 /* min-width 1200px, xlarge screens */
@mixin desktop {
    @media only screen and (min-width: 1200px)  {
        @content;
    }
}

 /* min-width 1500px, xlarge screens */
 @mixin md-desktop {
    @media only screen and (min-width: 1500px)  {
        @content;
    }
}

 /* min-width 1920px, xlarge screens */
 @mixin xl-desktop {
    @media only screen and (min-width: 1920px) {
        @content;
    }
}