// COLORS

// $title_color: #064d87;
$title_color: #1950A0;      // Azul oscuro AEMET
$azul_medio: #2D7DD2;       // Azul medio AEMET
$azul_medio_50: #96BEE8;    // Azul medio AEMET 50%
$title_bgcolor: #dcdcdc;
$font_color: #fff;
$border-color: #b3b4b6;
$navbar_bgcolor: $title_color;
$color_1: #f1f7f9;
$color_2: #FC6262;
$color_3: #000;
$color_4: #fff;
$color_5: $azul_medio;
$color_6: $azul_medio_50;
$color_7: #FF6200;
$color_8: $title_color;
$color_9: #1D2D44;
$color_10: #f4f4f5;
$color_11: #737374;

// MEDIA QUERIES

/* max-width 576px, mobile-only styles */
@mixin sm-mobile {
    @media only screen and (max-width: 576px) {
        @content;
    }
}

/* min-width 576px, medium screens */
@mixin mobile {
    @media only screen and (min-width:576px) {
        @content;
    }

}

/* min-width 768px, medium screens */
@mixin tablet {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

/* min-width 992px, large screens */
@mixin laptop {
    @media only screen and (min-width: 992px) {
        @content;
    }
}

 /* min-width 1200px, small desktop */
@mixin desktop {
    @media only screen and (min-width: 1200px)  {
        @content;
    }
}

/* min-width 1200px and max-width 1399px, intermediate desktop */
@mixin sm-desktop {
    @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        @content;
    }
}

 /* min-width 1700px, xlarge screens */
 @mixin md-desktop {
    @media only screen and (min-width: 1700px)  {
        @content;
    }
}

 /* min-width 1920px, xlarge screens */
 @mixin xl-desktop {
    @media only screen and (min-width: 1920px) {
        @content;
    }
}