@import "~ol/ol.css";

.marker {
  width: 20px;
  height: 20px;
  border: 1px solid #088;
  border-radius: 10px;
  background-color: #0FF;
  opacity: 0.5;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 7px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -42px;
  width: fit-content;
  font-size: small;
  white-space: nowrap;
}

.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 40px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 40px;
  margin-left: -11px;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.ol-popup-closer:after {
  content: "✖";
}


.ol-zoom{
  display:none;
}

// .ol-zoom {
//   width: 120px;
//   left: unset;
//   top: 7.5em;
//   right: 2%;
//   padding-left: 15px;
//   background: transparent;

//   button {
//     float: right;
//     width: 40px;
//     height: 40px;
//     border-radius: 10px !important;
//     font-size: 1.6rem !important;
//     padding-bottom: 0.5rem;
//     margin-left: 8px;
//     cursor: pointer;
//     background-color: $color_8;
//     color: $color_4;
//     border: solid 1px $color_4;
//     box-shadow: 0 1.5px 3px $color_3;
//   }

//   button:hover {
//     background-color: $color_1;
//     color: $color_8;
//   }

//   @include md-desktop {
//     top: 7.5em;
//   }
// }