@import "~ol/ol.css";

// .marker {
//   width: 20px;
//   height: 20px;
//   border: 1px solid #088;
//   border-radius: 10px;
//   background-color: #0FF;
//   opacity: 0.5;
// }

.marker {
  position: absolute;
  top: -20px;
  left: -10px;
  border-radius: 50% 50% 50% 0;
  border: 4px solid $color_9;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
  z-index: 1500;
}

.marker::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  background-color: $color_9;
  z-index: 1500;
}

.ol-popup {
  position: absolute;
  background-color: $color_4;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 7px;
  border-radius: 10px;
  border: 1px solid $border-color;
  bottom: 12px;
  left: -42px;
  min-width: 100px; 
  width: max-content;
  font-size: small;
  $color_4-space: nowrap;
  text-align:center;
  z-index: 2000;
}

.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2000;
}

.ol-popup:after {
  border-top-color: $color_4;
  border-width: 10px;
  left: 40px;
  margin-left: -10px;
  z-index: 2000;
}

.ol-popup:before {
  border-top-color: $border-color;
  border-width: 11px;
  left: 40px;
  margin-left: -11px;
  z-index: 2000;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.ol-popup-closer:after {
  content: "✖";
}

.ol-zoom{
  display:none;
}

#mapInfo {
  position: absolute;
  display: inline-block;
  height: auto;
  width: auto;
  z-index: 100;
  background-color: $color_9;
  color: $color_4;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  left: 50%;
  transform: translateX(3%);
  visibility: hidden;
  pointer-events: none;
}