@import "media-queries.scss";

div.paletteFrame.paletteSmall {
    img {
        width: 25px;
        height: 28px;
    }

    #units {
        display: none;
    }

    div.legend span {
        display: none;
        display: inline-block;
        overflow: hidden;
        width: 0px;
        height: 0px;
    }

    div.legend br {
        visibility: hidden;
    }

    div.legend {
        padding-bottom: 5px;
        width: 40px;
    }

    div.paletteSelect {
        display: none;
    }
}

div.paletteFrame {
    @include blurBgFrame();
    background-color: transparent !important;
    max-width: fit-content;
    // bottom: 7.5em;
    padding-top: 0px !important;
    padding-right: 0px !important;
    top: 7.6em;
    right: 2%;
    text-align: right;

    img {
        width: 100px;
        height: 114px;
    }

    div.legend {
        line-height: 20px;
        text-align: center;
        display: inline-flex;
        flex-direction: column;
        overflow: hidden;
        width: auto;
        max-width: 40px;
        min-width: 40px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    div.legend .legendText {
        visibility: hidden;
        white-space: nowrap;
        padding-block: 5px;;
    }

    div.legend:hover {
        max-width: 190px;
        min-width: 190px;
        cursor:pointer;
    }

    div.legend:hover .legendText{
        visibility:visible;
    }

    #units {
        color: $title_color;
        background-color: $title_bgcolor;
        font-size: 20px;
        font-weight: 400;
        padding: 0.5em 0.1em;
        border-radius: 10px 10px 0px 0px;
    }

    #legendBottom {
        height: 15px;
        background-color: $title_bgcolor;
        border-radius: 0px 0px 10px 10px;
    }

    .mediumText {
        font-size: 18px;
    }

    .smallText {
        font-size: 12px;
    }

    div.paletteSelect {
        text-align: right;
        padding: 0.5em 0.1em;
        min-height: 47px;
        border-radius: 0px 0px 10px 10px;
        
        .form-check-input {
            visibility: hidden;
        }

        .form-switch {
            padding-left: 0em !important;
        }
    }

    div.paletteSelect.visible {
        select {
            margin: 0px auto;
            display: block;
            width: 90%;
            text-align: center;

            option {
                cursor: pointer;
            }
            cursor: pointer;
        }

        div.slider {
            display: inline-block;
            margin: 0px auto;
            width: 90%;
            cursor: pointer;
        }

        span {
            display: none;
        }

        .form-check-input {
            visibility: visible;
            margin: 10px auto;
            width: 4em !important;
            height: 2em !important;
            background-color: $color_8;
        }

        .selectDiv {
            padding: 0.25rem;
            margin-top: 10px;
            outline: none !important;
            display: block;
            background-color: transparent;
            border: none;
            color: $color_4 !important;
            text-align: center;
        }
    }

    // @include md-desktop {
    //      top: 2em;
    // }

    div.row.selectDiv{
        width: 160px;
        margin: 0.45em 0em;
    }

    // --- BUTTON EXPAND HOVER
    .buttonDiv.visible {
        height: 40px;
        padding: 0.46rem;
        font-size: 0.875rem;
        margin-top: 5px;
        box-shadow: 0.5px 0.5px 3px $color_3;
        outline: none !important;
        background-color: $color_8;
        color: $color_4 !important;
        border-radius: 50px;
        border: solid 1px $color_4;
        text-decoration: none;
        border-radius: 20px;
        display: inline-flex;
        align-items: center;
        overflow: hidden;
        width: auto;
        max-width: 40px;
        transition: max-width 0.3s;

        .icon {
            font-size: 24px !important;
            margin-right: 15px;
            display: flex;
            align-items: center;
        }

        .text {
            white-space: nowrap;
            padding-right: 15px;
        }
    }

    .buttonDiv.visible:hover {
        cursor: pointer;
        max-width: 300px;
    }

    select.selectDiv.visible{
        margin: 0px auto;
        display: block;
        width: 90%;
        text-align: center;

        option {
            cursor: pointer;
        }

        cursor: pointer;
    }

    .uncDiv input.form-check-input {
        visibility: visible;
        margin: 0px auto;
        width: 4em !important;
        height: 2em !important;
        background-color: $color_8;
        box-shadow: 0.5px 0.5px 3px $color_3;
        cursor:pointer;
    }

    .slider.slider-horizontal {
        width: 140px;
        height: 20px;
    }

    div.slider.visible {
        display: inline-block;
        margin: 0px auto;
        width: 90%;
        cursor: pointer;
    }

    .selectDiv .slider-track {
        height: 5px !important;
        margin-top: -3px !important;
        width: 75% !important;
    }

    .hidden {
        display: none;
    }

    .closeDiv .icon {
        height: 30px;
        width: 30px;
        font-size: 1.8em !important;
        box-shadow: 0.5px 1px 5px $color_3;
        background-color: $color_8;
        color: $color_4 !important;
        border-radius: 50px;
        border: solid 1px $color_4;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .closeDiv .icon:hover {
        cursor:pointer;
        background-color: $color_6;
        color: $color_8;
    }

    @include md-desktop {
        top: 8.6em;
    }

    @include xl-desktop {
        top: 9.6em;
    }
}