@import "media-queries.scss";

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#logoDiv {
    width: 160px;
}

.side-bar {
    a {
        color: $color_1;
        text-decoration: none;
    }

    .basicBtn, .droppDownBtn{
        box-shadow: 0.5px 1px 5px $color_3;
        border-radius: 15px;
    }

    .dropdown-menu {
        max-height: 300px;
        overflow-y: scroll;
    }

    a.dropdown-item {
        color: $color_3
    }

    a.cs-disabled {
        color: $title_bgcolor
    }

    .sub-active {
        a {
            color: $color_2 !important;
            background: $color_4;
        }
    }

    height: fit-content;
    min-width: 250px;
    max-width: 250px;
    background: #ffffff00;
    position: fixed;
    top: 7em;
    z-index: 50;
    color: $color_4;
    transition: all 0.3s;

    ul {
        li {
            position: relative;
            display: block;

            a {
                text-align: left;
                padding: 4px 10px;
                font-size: .9em;
                display: block;

                &:hover {
                    color: $color_5;
                    background: $color_4;
                }

                i {
                    margin-right: 10px;
                }

                img {
                    width: 38px;
                    margin: 2px auto;
                }
            }
        }

        ul {
            li {
                .label-small {
                    display: none;
                }
            }
        }

        li.active {
            >a {
                color: $color_4;
                background: $color_5;
            }
        }
    }

    #SideBarHeader {
        padding: 10px;
        // background: $color_4;
        text-align: left;

        strong {
            display: none;
            font-size: 1.8em;
        }
    }

    ul.components {
        padding-bottom: 20px;
    }

    /* .dropdown-toggle {
        &::after {
            display: block;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }
    } */

    .selected {
        margin-left: 20px;
    }

    #BasicButtons {
        flex-direction: column;
        #SpatialSupportDD {
            order: 1;
        }
        #VariableDD {
            order: 2;
        }
        #SubVariableDD {
            order: 3;
        }
        #TemporalSupportDD {
            order: 4;
        }
        #SelectionDD {
            order: 5;
        }
    }

    #bottom-logos {
        position: fixed;
        bottom: 20px;
        left: 2%;
        width: auto; /* Or specific dimensions as needed */
        max-width: 100%;
        img {
            height: 5em;
        }
    }

    @include md-desktop {
        top: 7em;
    }

    @include xl-desktop {
        top: 8em;
    }
}

#RightBar {
    right: 1%;    
    text-align: right;

    .rightbar-item {
        display: block;
        // margin: 10px;
    }
    .paletteFrame{
        order: 1
    }
    .downloadFrame{
        order:2
    }
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

  .blinking-text {
    animation: blink 2s infinite;
}

.data-error-text {
    margin: 1rem 1rem;
}

div.menu {
    min-width: 40%;
    max-width: fit-content;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-top: 0em;
    @include blurBgFrame(3em);

    div.menu-container{
        min-height: 1em;
        max-width: fit-content;
       // background-color: aquamarine;
    }
    div.menu-title {
        min-height: 1em; // Reduce el valor si es mayor de lo necesario
        padding: 0.5em 1em; // Ajusta para minimizar el espacio en blanco
        background-color: $color_1;
    
        // Opcional: Ajusta el espacio alrededor del texto si es necesario
        display: flex;
        align-items: center; // Centra verticalmente el texto
        justify-content: center; // Centra horizontalmente el texto
    }
    
    button {
        margin-left:10px
    }
    div.spinner-grow{
        margin-top:2px;
        margin-left:1em;
    }
}

// .navbar {

//     /// --------------- Versión transparente
//     /* width: 98%;
//     margin: 0px auto;
//     background-color: transparent;
//     border-bottom: 1px solid #fff; */
//     /// --------------- Versión transparente
    
//     width: 100%;
//     background-color: $color_4;
//     border-bottom: 1px solid $border-color;
//     justify-content: center;

//     img {
//         height: 50px;
//     }
// }

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    display: block;
    text-shadow: none;
    background-color: $color_8;
    color: $color_4 !important;
    border-radius: 50px;
    border-color: $color_4;
    // box-shadow: 0.5px 1px 5px $color_3;
    // margin-bottom: 0.5em;
}

.navbar-btn-title {
    min-width: 180px;
    border-right: none;
}

.navbar-btn-split {
    border-left: none;
}


.navbar-btn:hover,
.navbar-btn:focus,
.navbar-btn:active
{
    background-color: $color_6;
    color: $color_8;
    cursor: pointer;
}

.navbar-btn:disabled {
    background-color: $color_1;
    color: $border-color !important;
}

.navbar-sm-btn, .navbar-md-btn {
    width: 30px;
    height: 30px;
    border-radius: 25px;
    cursor: pointer;
    background-color: $color_8;
    color: $color_4;
    border: 1px solid $color_4;
    font-size: 1.6rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-md-btn {
    width: 40px;
    height: 40px;
}

.navbar-sm-btn:hover, 
.navbar-md-btn:hover {
    background-color: $color_6;
    color: $color_8;
    cursor: pointer;
}

.header {
    background: $color_4;
    color: $color_3;
}

#menu-title{
<<<<<<< Updated upstream
    min-height: 1em;
=======
    padding: 0rem 0rem;
    min-height: 1rem; 
>>>>>>> Stashed changes
    background-color: $title_color;
    box-shadow: 0.5px 0.5px 3px $color_3;
    @include desktop { 
        padding: 0rem 1.5rem;
    }
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed $border-color;
    margin: 40px 0;
}

.hide {
    display: none !important;
}

.wrapper {
    display: flex;
    align-items: stretch;
}


.side-bar.active {
    min-width: 226px;
    max-width: 226px;
    text-align: center;

    .sidebar-header {
        h3 {
            display: none;
        }

        strong {
            display: block;
        }
    }

    .CTAs {
        display: none;
    }

    ul {
        ul {
            li {
                .label-big {
                    display: none;
                }

                .label-small {
                    display: inline-block;
                    width: 100%;
                    text-align: left;
                }
            }

            a {
                padding: 10px !important;
            }
        }

        li {
            a {
                text-align: left;
                font-size: 0.85em;

                span {
                    display: none;
                }

                i {
                    margin-right: 0;
                    display: block;
                    font-size: 1.5em;
                    margin-bottom: 5px;
                }
            }
        }
    }

}

a[aria-expanded="true"] {
    color: $color_4;
    background: #1E95FA;
}

a[data-toggle="collapse"] {
    position: relative;
}

ul {
    ul {
        a {
            font-size: 0.9em !important;
            padding-left: 30px !important;
        }
    }
}

ul.CTAs {
    padding: 20px;

    a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }
}

a.download {
    background: $color_4;
    color: $color_6;
}

a.article {
    background: #ffa012 !important;
    color: $color_4 !important;

    &:hover {
        background: #ffa012 !important;
        color: $color_4 !important;
    }
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.container {
    margin-top: 80px;
}

#SideBarCollapse {
    img {
        width: 30;
        cursor: pointer;
    }
}

.no-wrap {
    flex-wrap: nowrap !important;

    /* .input-group-text:last-child {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    } */
}

.orange-nav {
    color: $color_7 !important;
}

/* #header {
    height: 3.5em;
    padding-top: 0.5em;
}
#header {
    max-width: 42.5em;
    width: 34em;
    transition: .25s;
} */

.alone {
    padding: 1.2rem 0rem!important;
}

.smallBar {
    width: 70% !important;
    left: 50% !important;
    transform: translate(-50%, 0%);

    #logo {
        display: none;
    }

    #central {
        width: 100% !important;
    }

    #SubBar {
        width: 100% !important;
    }

    #inputs {
        margin: 1.2em auto;
    }

    @include md-desktop {
        width: 40% !important;
    }
}

#SubBar {
    display: inline-block !important;
    padding-top: 0.4rem;
    // margin: 0px auto;

    /* .input-group{
        padding-top: 0.75em;
    } */

    #info {
        padding-left: 0px;
        padding-right: 0px;
    }

    .TopRightFrame {
        float: right;
    }

    /* @include desktop {
        width: 60%;
    }

    @include xl-desktop {
        width: 60%;
    } */

}

.Input-group-end {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}

ul .two-columns {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}


/* ---------------------------------------------------
    SELECTORES DE CAPAS
----------------------------------------------------- */

div.row.selectDiv{
    width: 200px;
    margin: 0.45em 0em;
}

.uncDiv input.form-check-input {
    visibility: visible;
    margin: 0px auto;
    width: 4em !important;
    height: 2em !important;
    background-color: $color_8;
    box-shadow: 0.5px 0.5px 3px $color_3;
    cursor:pointer;
}

.slider.slider-horizontal {
    width: 80%;
    height: auto;
}

div.slider.visible {
    display: inline-block;
    margin: 0px auto;
    width: 80%;
    cursor: pointer;
}

.selectDiv  {
    .slider-track {
        height: 1px !important;
        width: 100% !important;
        margin-top: 0px !important;
    }
    
    .slider-handle {
        top: 7px;
        width: 15px;
        height: 15px;
    }
    
    .inputDiv{
        background-color:$color_1;
        border-radius: 10px;
        box-shadow: 0.5px 1px 5px $color_3;
    }
}

.hidden {
    display: none;
}

.closeDiv .icon {
    height: 30px;
    width: 30px;
    font-size: 1.8em !important;
    box-shadow: 0.5px 1px 5px $color_3;
    background-color: $color_8;
    color: $color_4 !important;
    border-radius: 50px;
    border: solid 1px $color_4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeDiv .icon:hover {
    cursor:pointer;
    background-color: $color_6;
    color: $color_8;
}


// ----------------- CHECKBOX
.radio {
    width:100%;
  margin: 0.5rem;
  text-align: left;
  font-size: 0.8em;
  color: $color_3;
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    + .radio-label {
      &:before {
        content: '';
        background: $color_1;
        border-radius: 100%;
        border: 1px solid darken($color_1, 25%);
        display: inline-block;
        width: 1.1em;
        height: 1.1em;
        position: relative;
        top: 0.25em;
        margin-right: 0.6em !important; 
        vertical-align: top;
        cursor: pointer;
        text-align: left;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: $color_8;
          box-shadow: inset 0 0 0 2px $color_1;
        }
      }
    }
   /*  &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: $color_8;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px $color_1;
          border-color: darken($color_1, 25%);
          background: darken($color_1, 25%);
        }
      }
    } */
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}

// -------------------------------- SELECTORES DE CAPAS

/* ---------------------------------------------------
    ESTILOS POPOVERS
----------------------------------------------------- */

.popover {
    max-width: 40% !important;
    background-color: $color_8;
    border-color: $color_4;
    font-size: 12px;
    margin-left: 20px !important;
    z-index: 1500;
}

.popover-header {
    color: $title_color;
    background-color: $title_bgcolor;
}

.popover-body {
    color: $color_4 !important;
}

@media (max-width: 768px) {
    .side-bar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
        margin-left: 0;

        .dropdown-toggle {
            &::after {
                top: auto;
                bottom: 10px;
                right: 50%;
                -webkit-transform: translateX(50%);
                -ms-transform: translateX(50%);
                transform: translateX(50%);
            }
        }

        .sidebar-header {
            h3 {
                display: none;
            }

            strong {
                display: block;
            }
        }

        .CTAs {
            display: none;
        }

        ul {
            li {
                a {
                    padding: 20px 10px;

                    span {
                        font-size: 0.85em;
                    }

                    i {
                        margin-right: 0;
                        display: block;
                        font-size: 1.3em;
                    }
                }
            }

            ul {
                a {
                    padding: 10px !important;
                }
            }
        }
    }

    .side-bar.active {
        margin-left: 0 !important;
    }

    #SideBarCollapse {
        span {
            display: none;
        }
    }
}