@import "media-queries.scss";

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#logoDiv {
    width: 160px;
}

.side-bar {
    a {
        color: $color_1;
        text-decoration: none;
    }

    .basicBtn, .droppDownBtn{
        box-shadow: 0.5px 1px 5px $color_3;
        border-radius: 15px;
    }

    .dropdown-menu {
        max-height: 300px;
        overflow-y: scroll;
    }

    a.dropdown-item {
        color: $color_3
    }

    a.cs-disabled {
        color: $title_bgcolor
    }

    .sub-active {
        a {
            color: $color_2 !important;
            background: $color_4;
        }
    }

    height: fit-content;
    min-width: 250px;
    max-width: 250px;
    background: #ffffff00;
    position: fixed;
    top: 7rem; 
    z-index: 50;
    color: $color_4;
    transition: all 0.3s;
    margin-top: 1rem;
    
    ul {
        li {
            position: relative;
            display: block;

            a {
                text-align: left;
                padding: 4px 10px;
                font-size: .9em;
                display: block;

                &:hover {
                    color: $color_5;
                    background: $color_4;
                }

                i {
                    margin-right: 10px;
                }

                img {
                    width: 38px;
                    margin: 2px auto;
                }
            }
        }

        ul {
            li {
                .label-small {
                    display: none;
                }
            }
        }

        li.active {
            >a {
                color: $color_4;
                background: $color_5;
            }
        }
    }

    #SideBarHeader {
        padding: 10px;
        text-align: left;

        strong {
            display: none;
            font-size: 1.8em;
        }
    }

    ul.components {
        padding-bottom: 20px;
    }

    .selected {
        margin-left: 20px;
    }

    #BasicButtons {
        flex-direction: column;
        #SpatialSupportDD {
            order: 1;
        }
        #VariableDD {
            order: 2;
        }
        #SubVariableDD {
            order: 3;
        }
        #TemporalSupportDD {
            order: 4;
        }
        #SelectionDD {
            order: 5;
        }
    }

    #bottom-logos {
        position: fixed;
        bottom: 20px;
        left: 2%;
        width: auto;
        max-width: 100%;
        img {
            height: 5rem; 
        }
    }

    @include tablet {
        top: 6rem;
        min-width: 200px;
        max-width: 200px;
        margin-top: 0.5rem;
        
        #bottom-logos {
            img {
                height: 4rem;
            }
        }
    }

    @include md-desktop {
        top: 7rem; 
        margin-top: 1rem;
    }

    @include xl-desktop {
        top: 8rem; 
        margin-top: 1rem;
    }
}

#RightBar {
    right: 1%;    
    text-align: right;
    top: 7rem; 
    margin-top: 1rem; 

    .rightbar-item {
        display: block;
    }
    .paletteFrame{
        order: 1
    }
    .downloadFrame{
        order:2
    }

    @include tablet {
        top: 6rem;
        margin-top: 0.5rem;
        right: 2%;
    }

    @include md-desktop {
        top: 7rem;
        margin-top: 1rem;
    }

    @include xl-desktop {
        top: 8rem;
        margin-top: 1rem;
    }
}

#LeftBar {
    left: 1%;
    top: 7rem; 
    margin-top: 1rem; 

    @include tablet {
        top: 6rem;
        margin-top: 0.5rem;
        left: 2%;
    }

    @include md-desktop {
        top: 7rem;
        margin-top: 1rem;
    }

    @include xl-desktop {
        top: 8rem;
        margin-top: 1rem;
    }
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blinking-text {
    animation: blink 2s infinite;
}

.data-error-text {
    margin: 1rem 1rem;
}

div.menu {
    min-width: 40%;
    max-width: fit-content;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-top: 1rem; 
    @include blurBgFrame(3rem);

    div.menu-container{
        min-height: 1rem; 
        max-width: fit-content;
    }
    div.menu-title {
        min-height: 1rem; 
        padding: 0.5rem 1rem; 
        background-color: $color_1;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    button {
        margin-left: 0.625rem; 
    }
    div.spinner-grow{
        margin-top: 0.125rem; 
        margin-left: 1rem;
    }

    @include tablet {
        min-width: 60%;
        margin-top: 0.5rem;
    }

    @include mobile {
        min-width: 90%;
        margin-top: 0.25rem;
    }
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    display: block;
    text-shadow: none;
    background-color: $color_8;
    color: $color_4 !important;
    border-radius: 50px;
    border-color: $color_4;
}

.navbar-btn-title {
    min-width: 180px;
    border-right: none;
}

.navbar-btn-split {
    border-left: none;
}

.navbar-btn:hover,
.navbar-btn:focus,
.navbar-btn:active {
    background-color: $color_6;
    color: $color_8;
    cursor: pointer;
}

.navbar-btn:disabled {
    background-color: $color_1;
    color: $border-color !important;
}

.navbar-sm-btn, .navbar-md-btn {
    width: 30px;
    height: 30px;
    border-radius: 25px;
    cursor: pointer;
    background-color: $color_8;
    color: $color_4;
    border: 1px solid $color_4;
    font-size: 1.6rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-md-btn {
    width: 40px;
    height: 40px;
}

.navbar-sm-btn:hover, 
.navbar-md-btn:hover {
    background-color: $color_6;
    color: $color_8;
    cursor: pointer;
}

.header {
    background: $color_4;
    color: $color_3;
}

#menu-title{
    padding: 0rem 0rem;
    min-height: 1rem; 
    background-color: $title_color;
    box-shadow: 0.5px 0.5px 3px $color_3;
    @include desktop { 
        padding: 0rem 1.5rem;
    }
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed $border-color;
    margin: 2.5rem 0; 
}

.hide {
    display: none !important;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

.side-bar.active {
    min-width: 226px;
    max-width: 226px;
    text-align: center;

    .sidebar-header {
        h3 {
            display: none;
        }

        strong {
            display: block;
        }
    }

    .CTAs {
        display: none;
    }

    ul {
        ul {
            li {
                .label-big {
                    display: none;
                }

                .label-small {
                    display: inline-block;
                    width: 100%;
                    text-align: left;
                }
            }

            a {
                padding: 10px !important;
            }
        }

        li {
            a {
                text-align: left;
                font-size: 0.85em;

                span {
                    display: none;
                }

                i {
                    margin-right: 0;
                    display: block;
                    font-size: 1.5em;
                    margin-bottom: 5px;
                }
            }
        }
    }

    @include tablet {
        min-width: 180px;
        max-width: 180px;
    }
}

a[aria-expanded="true"] {
    color: $color_4;
    background: #1E95FA;
}

a[data-toggle="collapse"] {
    position: relative;
}

ul {
    ul {
        a {
            font-size: 0.9em !important;
            padding-left: 30px !important;
        }
    }
}

ul.CTAs {
    padding: 20px;

    a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }
}

a.download {
    background: $color_4;
    color: $color_6;
}

a.article {
    background: #ffa012 !important;
    color: $color_4 !important;

    &:hover {
        background: #ffa012 !important;
        color: $color_4 !important;
    }
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.container {
    margin-top: 5rem; 

    @include tablet {
        margin-top: 4rem;
    }

    @include mobile {
        margin-top: 3rem;
    }
}

#SideBarCollapse {
    img {
        width: 30px; 
        cursor: pointer;
    }
}

.no-wrap {
    flex-wrap: nowrap !important;
}

.orange-nav {
    color: $color_7 !important;
}

.alone {
    padding: 1.2rem 0rem!important;
}

.smallBar {
    width: 70% !important;
    left: 50% !important;
    transform: translate(-50%, 0%);

    #logo {
        display: none;
    }

    #central {
        width: 100% !important;
    }

    #SubBar {
        width: 100% !important;
    }

    #inputs {
        margin: 1.2rem auto;
    }

    @include tablet {
        width: 80% !important;
    }

    @include md-desktop {
        width: 40% !important;
    }
}

#SubBar {
    display: inline-block !important;
    padding-top: 0.4rem;

    #info {
        padding-left: 0px;
        padding-right: 0px;
    }

    .TopRightFrame {
        float: right;
    }
}

.Input-group-end {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}

ul .two-columns {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

/* ---------------------------------------------------
    SELECTORES DE CAPAS
----------------------------------------------------- */

div.row.selectDiv{
    width: 200px;
    margin: 0.45rem 0rem; 
}

.uncDiv input.form-check-input {
    visibility: visible;
    margin: 0px auto;
    width: 4rem !important; 
    height: 2rem !important;
    background-color: $color_8;
    box-shadow: 0.5px 0.5px 3px $color_3;
    cursor:pointer;
}

.slider.slider-horizontal {
    width: 80%;
    height: auto;
}

div.slider.visible {
    display: inline-block;
    margin: 0px auto;
    width: 80%;
    cursor: pointer;
}

.selectDiv  {
    .slider-track {
        height: 1px !important;
        width: 100% !important;
        margin-top: 0px !important;
    }
    
    .slider-handle {
        top: 7px;
        width: 15px;
        height: 15px;
    }
    
    .inputDiv{
        background-color:$color_1;
        border-radius: 10px;
        box-shadow: 0.5px 1px 5px $color_3;
    }
}

.hidden {
    display: none;
}

.closeDiv .icon {
    height: 30px;
    width: 30px;
    font-size: 1.8rem !important; 
    box-shadow: 0.5px 1px 5px $color_3;
    background-color: $color_8;
    color: $color_4 !important;
    border-radius: 50px;
    border: solid 1px $color_4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeDiv .icon:hover {
    cursor:pointer;
    background-color: $color_6;
    color: $color_8;
}

// ----------------- CHECKBOX
.radio {
    width:100%;
    margin: 0.5rem;
    text-align: left;
    font-size: 0.8rem; 
    color: $color_3;
    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        + .radio-label {
            &:before {
                content: '';
                background: $color_1;
                border-radius: 100%;
                border: 1px solid darken($color_1, 25%);
                display: inline-block;
                width: 1.1rem; 
                height: 1.1rem; 
                position: relative;
                top: 0.25rem; 
                margin-right: 0.6rem !important; 
                vertical-align: top;
                cursor: pointer;
                text-align: left;
                transition: all 250ms ease;
            }
        }
        &:checked {
            + .radio-label {
                &:before {
                    background-color: $color_8;
                    box-shadow: inset 0 0 0 2px $color_1;
                }
            }
        }
        + .radio-label {
            &:empty {
                &:before {
                    margin-right: 0;
                }
            }
        }
    }
}

/* ---------------------------------------------------
    ESTILOS POPOVERS
----------------------------------------------------- */

.popover {
    max-width: 40% !important;
    background-color: $color_8;
    border-color: $color_4;
    font-size: 0.75rem; 
    margin-left: 1.25rem !important;
    z-index: 1500;

    @include tablet {
        max-width: 60% !important;
        font-size: 0.875rem;
        margin-left: 1rem !important;
    }

    @include mobile {
        max-width: 90% !important;
        font-size: 1rem;
        margin-left: 0.5rem !important;
    }
}

.popover-header {
    color: $title_color;
    background-color: $title_bgcolor;
}

.popover-body {
    color: $color_4 !important;
}

@media (max-width: 768px) {
    .side-bar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
        top: 5rem;
        margin-top: 0.5rem;

        &.active {
            margin-left: 0 !important;
        }

        .dropdown-toggle {
            &::after {
                top: auto;
                bottom: 10px;
                right: 50%;
                -webkit-transform: translateX(50%);
                -ms-transform: translateX(50%);
                transform: translateX(50%);
            }
        }

        .sidebar-header {
            h3 {
                display: none;
            }

            strong {
                display: block;
            }
        }

        .CTAs {
            display: none;
        }

        ul {
            li {
                a {
                    padding: 20px 10px;

                    span {
                        font-size: 0.85rem; 
                    }

                    i {
                        margin-right: 0;
                        display: block;
                        font-size: 1.3rem;
                    }
                }
            }

            ul {
                a {
                    padding: 10px !important;
                }
            }
        }

        #bottom-logos {
            img {
                height: 3rem;
            }
        }
    }

    #RightBar, #LeftBar {
        top: 5rem;
        margin-top: 0.5rem;
    }

    .container {
        margin-top: 2rem;
    }

    #SideBarCollapse {
        span {
            display: none;
        }
    }
}