* {
    box-sizing: border-box;
}


#menu-title{
    padding: 0rem 0rem;
    min-height: 1rem; 
    background-color: $title_color;
    box-shadow: 0.5px 0.5px 3px $color_3;
    @include desktop { 
        padding: 0rem 1.5rem;
    }
}

#TopBar {
        padding: 0px !important;
        z-index: 1000;

    // Mobile first: show mobile, hide desktop
    .topbar-mobile {
        display: block;
    }
    .topbar-desktop {
        display: none;
    }

    // Desktop: hide mobile, show desktop
    @include desktop {
        .topbar-mobile {
            display: none;
        }
        .topbar-desktop {
            display: block;
        }
    }

    // Mobile TopBar styles
    .topbar-mobile {
        .mobile-top-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $title_color;
            border-bottom: 1px solid $border-color;
        }

        .mobile-title-row {
            background-color: $title_color;
            border-bottom: 1px solid $border-color;
            padding: 0.3rem;
            text-align: center;
        
            #title-mobile {
                color: $title_bgcolor;
                font-size: 1.0em;
                font-weight: 500;
                margin: 0;
            }
        }

        .mobile-menu-central {
            flex: 1;
            display: flex;
            justify-content: center;
        }

        .mobile-menu-info {
            padding-right: 0.5rem;
        }

        .collapse-menu-mb {
            display: block;
            cursor: pointer;
            padding: 0.4rem;
        }
    
        .collapse-menu-mb span {
            display: block;
            width: 25px;
            height: 3px;
            border-radius: 1px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: $color_4;
        }
    
        .collapse-menu-mb.active span:nth-child(2) {
            opacity: 0;
        }
    
        .collapse-menu-mb.active span:nth-child(1) {
            transform: translateY(8px) rotate(-45deg);
        }
    
        .collapse-menu-mb.active span:nth-child(3) {
            transform: translateY(-8px) rotate(45deg);
        }
    }
   
    #header-central {
        display: flex;
        justify-content: center;
        align-items: center; 
        padding: 0; 
        margin: 0;
    }    
    
    #info {
        display:flex;
        align-items: center;
    }
    
    #inputs {
        #input1 {
            order: 1;
        }
        #input2 {
            order: 2;
        }
        #input3 {
            order: 3;
        }
        #input4 {
            order: 4;
        }
        #input5 {
            order: 5;
        }
        #climatologyDisplay {
            order: 6;
            min-width: 80px !important; // Más pequeño que el 120px por defecto
            max-width: 100px !important; // Limitar el ancho máximo
        }
        
        // Hacer más compactos los inputs dentro de climatología
        #climatologyDisplay .input-group-text {
            min-width: 40px !important;
            font-size: 11px !important;
            padding: 2px 4px;
        }
        .input-group-text {
            min-width: 50px !important;
            margin: 0px 0px; // SOLO cambio esto: eliminar margen horizontal
            border-radius: 5px;
            width: -moz-fit-content !important;
            width: fit-content !important;
            background: $color_10;
            border: 0.01em solid $border-color;
            font-size: 13px !important;
            font-weight: 700;
            color: $color_9;
        }
    }

    input.p {
        color: $color_11;
    }

    #logo {
        width: 100px;
    }

    .big{
        width: 160px !important;
        margin-left: 0px !important;
    }

    .lcsc {
        width: 70px !important;
        margin-left: 40px !important;
    }

    .col-title {
        float:left;
        width: 100%;
        #title {
            width: auto !important;
            text-decoration: none;
            color: $title_bgcolor;
            font-size: 1.0em;
            font-weight: 500;
            margin-bottom: 0px;
            padding: 0.3rem 0rem;
        }
        @include desktop {
            width: 45%;
            #title {
                font-size: 0.95em;
                padding: 0.7rem 1rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        @include md-desktop {
            width: 40%;
            #title {
                font-size: 1.1em;
                font-weight: 600;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .col-info {
        float:left;
        width: 10%;
        @include desktop {
            width: 55%;
        }
        @include md-desktop {
            width: 50%;
        }
    }

    #TopRightBar {
        @include xl-desktop {
            padding-top: 0.2em;
        }
    }

    .shortLogo {
        padding-left: 2.0em;
        img {
            width: 50px;
        }
    }

    .allScrLogo {
        padding-left: 0.5em;
        img {
            height: auto;
            max-width: 100%;
        }
    }

    .longLogo {
        padding-left: 0.5em;
        img {
            height: 30px;
        }

        @include desktop {
            padding-left: 2.5em;
            img {
                height: 50px;
            }
        }
    }

    .topbar-desktop .navbar {
        width: 100%;
        background-color: $color_4;
        border-bottom: 1px solid $border-color;
        justify-content: left;
    }

    .topbar-mobile .navbar {
        width: 100%;
        justify-content: center;
    }

    .col.shortLogo {
        padding-left: 200px;
    }

    .col.longLogo, .col.allScrLogo {
        background-color: transparent !important;
    }

    a.cs-disabled {
        color: $title_bgcolor
    }

    #menu-central {
        display:block;
        justify-content: end;
        @include desktop {
            display:flex;
        }
    }

    .nav-menu, .nav-menu-mb {
        position: fixed;
        left: -100%;
        top: 4.7rem;
        display: flex;
        flex-direction: column;
        background-color: $navbar_bgcolor;
        width: auto;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active, .nav-menu-mb.active {
        left: 0%;
        transform: translateX(0%);
    }

    .nav-link {
        color: $color_1;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .collapse-menu {
        display: block;
        cursor: pointer;
        padding: 0.4rem;
    }

    .collapse-menu span {
        display: block;
        width: 25px;
        height: 3px;
        border-radius: 1px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: $color_4;
    }

    .collapse-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .collapse-menu.active span:nth-child(1) {
        transform: translateY(8px) rotate(-45deg);
    }

    .collapse-menu.active span:nth-child(3) {
        transform: translateY(-8px) rotate(45deg);
    }
    
    @include tablet {
        .nav-menu {
            flex-direction: row;
            // width: 80%;
        }
        // .nav-menu.active {
        //     left: 50%;
        //     transform: translateX(-50%);
        // }
    }

    @include desktop {
        
        .longLogo, .shortLogo, .allScrLogo {
            padding-left: 2.2rem;
        }
        

        .allScrLogo img {
            height: 50px;
        }

        .inputDiv .title {
            font-size: 0.8em;
        }
        
        .inputDiv .sub-title {
            font-size: 0.8em;
        }
        

        #menu-central {
            display:block
        }
        .nav-menu {
            all: revert;
            // justify-content: space-between;
            align-items: center;
            position: relative;
            list-style: none;
            font-weight: 400;
            display: flex;
            padding: 0;
            margin: 0px auto;
        }
        .collapse-menu {
            display: none;
        }
        // width: 97%;
    }

    @include xl-desktop {
        // width: 97%;
        padding-top: 0em;

        .longLogo, .shortLogo, .allScrLogo {
            padding-left: 2.5rem;
        }
        
        #logo img {
            width: 120px;
            margin-left: 7%;
        }
    }
}

#inputs {
    position: relative;
    list-style: none;
    // background: #2c6d9a;
    font-weight: 400;
    // font-size: 0;
    // text-transform: uppercase;
    display: inline-block;
    padding: 0;
    margin: 0px auto;
    // right: 10%;
    // border-radius: 5px;
}

#inputs>li {
    display: grid;
    position: relative;
    cursor: pointer;
    z-index: 1000;
    min-width: fit-content;
    width: fit-content;
    // font-size: 0.8rem;
    color: $color_4;
    
}

// ----- ÑAPA PARA VISOR ETM. HACER DESARROLLO PARA CONFIGURAR ANCHURAS 
#inputs>li[role=var] {
    min-width: 182px;
}
#inputs>li[role=selection] {
    min-width: 145px;
}
// ----- ÑAPA PARA VISOR ETM. HACER DESARROLLO PARA CONFIGURAR ANCHURAS 

#inputs > li:not(.basicInput):hover {
    background-color: $color_6;
    color: $color_8;
    cursor: pointer;
}

#inputs>li a {
    padding-left: 0px !important;
}

li {
    margin: 0;
}

.inputDiv .title{
    white-space: normal;
    font-size: 0.7em;
    font-style: italic;
    line-height: 1.2;
    text-align: left;
    width: fit-content;
    min-width: fit-content;
    padding: 2px 0px;
}

.inputDiv .sub-title {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    width: fit-content;
    min-width: fit-content;
    padding: 2px 0px;
    white-space: nowrap;
}

.inputDiv .sub-title.unselectable{
    cursor: default;
    background-color: $title_color;
    color: $color_4;
}

input.selection-param-input {
    // margin-left: 15px;
    display: inline;
    // width: 50%;
}

.dpdown-menu {
    overflow: hidden;
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 53px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

// .dpdown-menu ul {
//     -webkit-transform: translate(0, -100%);
//     -moz-transform: translate(0, -100%);
//     -ms-transform: translate(0, -100%);
//     transform: translate(0, -100%);
//     -webkit-transition: all 0.2s 0.1s;
//     -moz-transition: all 0.2s 0.1s;
//     -ms-transition: all 0.2s 0.1s;
//     transition: all 0.2s 0.1s;
//     position: relative;
//     padding-left: 0px !important;
// }

// .dpdown-button {
.menu-item {
    padding: 5px 10px;
    max-width: none;
    width: fit-content;
    min-width: fit-content;
}

.menu-input {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}

.inputDiv .dpdown-button:hover + .dpdown-menu,
.inputDiv .dpdown-button:hover .dpdown-menu,
.inputDiv .dpdown-menu:hover {
    display: block;
    visibility: visible;
    opacity: 1;
}

.inputDiv .dpdown-menu {
    display: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    min-width: 100%; /* Ensure dropdown is at least as wide as the button */
}

.inputDiv {
    position: relative;
    // width: fit-content;
    min-width: fit-content;
}

.inputDiv.cs-disabled {
    display: none !important;
}

.inputDiv.cs-enabled {
    display: grid !important;
    grid-template-columns: minmax(min-content, max-content);
    width: auto;
}

.inputDiv .dpdown-menu li .dropdown-item {
    display: block;
    padding: 2px;
    text-decoration: none;
    color: #333;
}

// .inputDiv .dpdown-menu li .dropdown-item:hover {
//     background-color: #f0f0f0;
// }

.inputDiv .dpdown-menu li .dropdown-item.cs-disabled {
    // color: #999;
    // cursor: not-allowed;
    display: none;
}

.dpdown-menu ul {
    padding-left: 0px !important;
}

.dpdown-menu li {
    display: block;
    padding: 5px 10px;
    width: 100%;
    // background: #3E8760 !important;
    background-color: $color_1;
    color: $color_11 !important;
    display: block;
    // white-space: normal;
}

.dpdown-menu li:hover {
    background: $color_6 !important;
    color: $color_1 !important;
}

.dropdown-item {
    box-sizing: border-box;
    white-space: normal;
    font-size: 0.7em !important;
    font-style: italic;
    line-height: 1.2;
}

#marker {
    height: 2px;
    // background: #3E8760 !important;
    background-color: $color_1;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-width: fit-content;
    z-index: 999;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    transition: all 0.35s;
}

$elements: 15;
@for $i from 0 to $elements {
    #inputs li:nth-child(#{$i}):hover div ul  {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    #inputs li:nth-child(#{$i}):hover~#marker {
        -webkit-transform: translate(360px, 0);
        -moz-transform: translate(360px, 0);
        -ms-transform: translate(360px, 0);
        transform: translate(360px, 0);
    }
}

// Duplicate styles for mobile inputs
#inputs-mobile {
    position: relative;
    list-style: none;
    font-weight: 400;
    display: inline-block;
    padding: 0;
    margin: 0px auto;
}

#inputs-mobile>li {
    display: grid;
    position: relative;
    cursor: pointer;
    z-index: 1000;
    min-width: fit-content;
    width: fit-content;
    color: $color_4;
}

#inputs-mobile>li[role=var] {
    min-width: 182px;
}

#inputs-mobile>li[role=selection] {
    min-width: 145px;
}

#inputs-mobile > li:not(.basicInput):hover {
    background-color: $color_6;
    color: $color_8;
    cursor: pointer;
}

#inputs-mobile>li a {
    padding-left: 0px !important;
}

@for $i from 0 to $elements {
    #inputs-mobile li:nth-child(#{$i}):hover div ul  {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    #inputs-mobile li:nth-child(#{$i}):hover~#marker {
        -webkit-transform: translate(360px, 0);
        -moz-transform: translate(360px, 0);
        -ms-transform: translate(360px, 0);
        transform: translate(360px, 0);
    }
}