* {
    box-sizing: border-box;
}

#TopBar {
        padding: 0px !important;
        z-index: 1000;
   
    #header-central {
        display: flex;
        justify-content: center;
        align-items: center; 
        padding: 0; 
        margin: 0;
    }    
    
    #info {
        display:flex;
        // justify-content: center;
        align-items: center;
    }
    
    #inputs {
        // flex-direction: row;
        #input1 {
            order: 1;
        }
        #input2 {
            order: 2;
        }
        #input3 {
            order: 3;
        }
        #input4 {
            order: 4;
        }
        #input5 {
            order: 5;
        }
        #climatologyDisplay {
            order: 6;
        }
        .input-group-text {
            min-width: 50px !important;
            margin: 0px 2px;
            border-radius: 5px;
            width: -moz-fit-content !important;
            width: fit-content !important;
            background: $color_10;
            border: 0.01em solid $border-color;
            font-size: 13px !important;
            font-weight: 700;
            color: $color_9;
        }
    }

    input.p {
        color: $color_11;
    }

    #logo {
        width: 100px;
    }

    .big{
        width: 160px !important;
        margin-left: 0px !important;
    }

    .lcsc {
        width: 70px !important;
        margin-left: 40px !important;
    }

    .col-title {
        float:left;
        width: 90%;
        #title {
            width: auto !important;
            text-decoration: none;
            color: $title_bgcolor;
            font-size: 1.5em;
            font-weight: 500;
            margin-bottom: 0px;
            padding: 0.4rem;
        }
        @include desktop {
            width: 45%;
        }

        @include md-desktop {
            width: 40%;
            #title {
                font-size: 1.5em;
                font-weight: 600;
            }
        }
    }

    .col-info {
        float:left;
        width: 10%;
        @include desktop {
            width: 55%;
        }
        @include md-desktop {
            width: 50%;
        }
    }

    #TopRightBar {
        @include xl-desktop {
            padding-top: 0.2em;
        }
    }

    .shortLogo {
        padding-left: 2.0em;
        img {
            width: 50px;
        }
    }

    .allScrLogo {
        padding-left: 0.5em;
        img {
            height: auto;
            max-width: 100%;
        }
    }

    .longLogo { 
        padding-left: 0.5em;
        img {
            height: 50px;
        }
    }

    .navbar {
        width: 100%;
        background-color: $color_4;
        border-bottom: 1px solid $border-color;
        justify-content: left;
    }

    .col.shortLogo {
        padding-left: 200px;
    }

    .col.longLogo, .col.allScrLogo {
        background-color: transparent !important;
    }

    a.cs-disabled {
        color: $title_bgcolor
    }

    #menu-central {
        display:flex;
        justify-content: end;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 7.2rem;
        display: flex;
        flex-direction: column;
        background-color: $title_color;
        width: auto;
        border-radius: 3px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0.5px 0.5px 3px $color_3;
    }

    .nav-link {
        color: $color_1;
    }

    .nav-menu.active {
        left: 50%;
        transform: translateX(-50%);
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .collapse-menu {
        display: block;
        cursor: pointer;
        padding: 0.4rem;
    }

    .collapse-menu span {
        display: block;
        width: 25px;
        height: 3px;
        border-radius: 1px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: $color_4;
    }

    .collapse-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .collapse-menu.active span:nth-child(1) {
        transform: translateY(8px) rotate(-45deg);
    }

    .collapse-menu.active span:nth-child(3) {
        transform: translateY(-8px) rotate(45deg);
    }
    
    @include tablet {
        .nav-menu {
            flex-direction: row;
            // width: 80%;
        }
        // .nav-menu.active {
        //     left: 50%;
        //     transform: translateX(-50%);
        // }
    }

    @include desktop {
        .navbar {
            .longLogo, .shortLogo, .allScrLogo {
                padding-left: 2.2rem;
            }
        }

        .allScrLogo img {
            height: 50px;
        }

        .inputDiv .title {
            font-size: 0.8em;
        }
        
        .inputDiv .sub-title {
            font-size: 0.8em;
        }

        #menu-central {
            display:block
        }
        .nav-menu {
            all: revert;
            // justify-content: space-between;
            align-items: center;
            position: relative;
            list-style: none;
            font-weight: 400;
            display: flex;
            padding: 0;
            margin: 0px auto;
        }
        .collapse-menu {
            display: none;
        }
        // width: 97%;
    }

    @include xl-desktop {
        // width: 97%;
        padding-top: 0em;

        #logo img {
            width: 120px;
            margin-left: 7%;
        }
    }
}

#inputs {
    position: relative;
    list-style: none;
    // background: #2c6d9a;
    font-weight: 400;
    // font-size: 0;
    // text-transform: uppercase;
    display: inline-block;
    padding: 0;
    margin: 0px auto;
    // right: 10%;
    // border-radius: 5px;
}

#inputs>li {
    display: grid;
    position: relative;
    cursor: pointer;
    z-index: 1000;
    min-width: 120px;
    // font-size: 0.8rem;
    color: $color_4;
}

#inputs > li:not(.basicInput):hover {
    background-color: $color_6;
    color: $color_8;
    cursor: pointer;
}

#inputs>li a {
    padding-left: 0px !important;
}

li {
    margin: 0;
}

.inputDiv .title{
    white-space: normal;
    font-size: 0.7em;
    font-style: italic;
    line-height: 1.2;
    text-align:left
}

.inputDiv .sub-title {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
}

.inputDiv .sub-title.unselectable{
    cursor: default;
    background-color: $title_color;
    color: $color_4;
}

input.selection-param-input {
    margin-left: 15px;
    display: inline;
    width: 50%;
}

.dpdown-menu {
    overflow: hidden;
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 53px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

// .dpdown-menu ul {
//     -webkit-transform: translate(0, -100%);
//     -moz-transform: translate(0, -100%);
//     -ms-transform: translate(0, -100%);
//     transform: translate(0, -100%);
//     -webkit-transition: all 0.2s 0.1s;
//     -moz-transition: all 0.2s 0.1s;
//     -ms-transition: all 0.2s 0.1s;
//     transition: all 0.2s 0.1s;
//     position: relative;
//     padding-left: 0px !important;
// }

// .dpdown-button {
.menu-item {
    padding: 5px 10px;
}

.inputDiv .dpdown-button:hover + .dpdown-menu,
.inputDiv .dpdown-button:hover .dpdown-menu,
.inputDiv .dpdown-menu:hover {
    display: block;
    visibility: visible;
    opacity: 1;
}

.inputDiv .dpdown-menu {
    display: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    min-width: 100%; /* Ensure dropdown is at least as wide as the button */
}

.inputDiv {
    position: relative;
}

.inputDiv .dpdown-menu li .dropdown-item {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
}

// .inputDiv .dpdown-menu li .dropdown-item:hover {
//     background-color: #f0f0f0;
// }

.inputDiv .dpdown-menu li .dropdown-item.cs-disabled {
    color: #999;
    cursor: not-allowed;
}

.dpdown-menu ul {
    padding-left: 0px !important;
}

.dpdown-menu li {
    display: block;
    padding: 5px 10px;
    width: 100%;
    // background: #3E8760 !important;
    background-color: $color_1;
    color: $color_11 !important;
    display: block;
    // white-space: normal;
}

.dpdown-menu li:hover {
    background: $color_6 !important;
    color: $color_1 !important;
}

.dropdown-item {
    box-sizing: border-box;
    white-space: normal;
    font-size: 0.7em !important;
    font-style: italic;
    line-height: 1.2;
}

#marker {
    height: 2px;
    // background: #3E8760 !important;
    background-color: $color_1;
    position: absolute;
    bottom: 0;
    width: 120px;
    z-index: 999;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    transition: all 0.35s;
}

$elements: 15;
@for $i from 0 to $elements {
    #inputs li:nth-child(#{$i}):hover div ul  {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    
    #inputs li:nth-child(#{$i}):hover~#marker {
        -webkit-transform: translate(360px, 0);
        -moz-transform: translate(360px, 0);
        -ms-transform: translate(360px, 0);
        transform: translate(360px, 0);
    }
}